{% extends "AppAdminBundle::layout.html.twig" %}

{% block title %}Espace Admin {{ parent() }} | Produit{% endblock %}

{% block app_admin_body %}
    <div class="tiltle">
        <h1>Gestion des produits</h1>
    </div>
    <div class="col-lg-offset-1 col-md-offset-1 col-xs-3 col-md-3 col-lg-3">
       {% include  "AppAdminBundle:Gestion:menu.html.twig" %}
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h2 class="titre_form">Ajout Produit</h2>
      <form method="POST" name="app_adminformbundle_user" class="form-horizontal" action="{{ path('app_admin_gestionproduit') }}">
        <div class="form-group">
           {{form_label(form.nomProduit)}}
           {{form_widget(form.nomProduit)}}
        </div>
        <div class="form-group">
           {{form_label(form.Type)}}
           {{form_widget(form.Type)}}
        </div>
        <div class="form-group">
           {{form_label(form.ingrediens)}}
           {{form_widget(form.ingrediens)}}
        </div>
        <div class="form-group">
           {{form_label(form.taille)}}
           {{form_widget(form.taille)}}
        </div>
        <div class="form-group">
           {{form_label(form.prix)}}
           {{form_widget(form.prix)}}
        </div>
        <div class="form-group bouton-bloc">
           {{ form_widget(form.Valider) }}
           {{ form_widget(form.Annuler) }}
        </div>
        <div>
           {{ form_rest(form) }}
        </div>
      </form>
    </div>
{% endblock %}